:root {
  --clr-gray-med: #78909c;
  --clr-gray-light: #cfd8dc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 2em;
  font-family: "Open Sans", sans-serif;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: Left;
  padding-bottom: 1em;
  border-bottom: 2px solid var(--clr-gray-light);
}




.btn-change-view{
  width: 125px;
  height: 125px;
  background-color: #7cb5d2;
  border: #2b7e91;
  cursor: pointer;
  border-radius: 0.2em;
  outline: none;
  transition: all 100 ms ease-in;
  user-select: none;
  align-items: flex-end;
  margin: 10px;
}

.btn-add {
  width: 6em;
  height: 2em;
  font-size: 1.5em;
  border: none;
  background-color: green;
  color: white;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  border-radius: 0.2em;
  outline: none;
  transition: all 100ms ease-in;
  user-select: none;
  align-items: flex-end;
}

.btn-delete{
  width: 6em;
  height: 2em;
  font-size: 1.5em;
  border: none;
  background-color: #b31e1e;
  color: white;
  cursor: pointer;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
  border-radius: 0.2em;
  outline: none;
  transition: all 100ms ease-in;
  align-items: flex-end ;
  user-select: none;
}

.btn-add:active,
.btn-add:hover {
  background-color: #084716;
}

.btn-delete:active,
.btn-delete:hover{
  background-color: #7a2525;
}

.btn-change-view:active,
.btn-change-view:hover{
  background-color: rgb(87, 146, 155);
}

main {
  margin-top: 1em;
}

#div-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 2em 0em;
}

.div-shadow {
  width: 5em;
  height: 2em;
  margin: 0 1em 1em 0;
  transition: all 100ms ease-in-out;
}

.div-shadow:nth-child(odd) {
  box-shadow: 0px 0px 10px var(--clr-gray-med);
}

.div-shadow:nth-child(even) {
  box-shadow: inset 0px 0px 10px var(--clr-gray-med);
}

.div-shadow:hover {
  transform: scale(1.2);
}
